body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
}

.header, .footer {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 50px;
    background-color: #1f2937;
}

.footer {
    font-size: 12px;
    color: white;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
  }

#logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.section-a {
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    align-items: center;
    background-color: #1f2937;
    padding: 0 50px;
}

.section-a #textbox {
    width: 350px;
    height: 197px;
    margin-right: auto;
}

#hero-header {
    font-size: 40px;
    font-weight: bolder;

    color: #f9faf8;
}

#hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.section-b {
    flex-basis: 200px;
    flex-grow: 1;
    background-color: white;
}

.section-c {
    flex-basis: 150px;
    flex-grow: 0.75;
    background-color: #e5e6eb;
}

.section-d {
    flex-basis: 100px;
    flex-grow: 0.50;
    background-color: white;
}

img {
    width: 350px;
    height: 197px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 12px;

}